__pycache__/
.patch_store/
build/
eggs/
*.egg*
dist/
/ext/orbetto/subprojects/perfetto
/ext/orbetto/subprojects/orbuculum
/ext/orbetto/subprojects/libdwarf*
/ext/orbetto/subprojects/packagecache
/ext/orbetto/*.perf
/ext/orbetto/*.gz
/ext/orbetto/*.debug
.vscode/
/ext/orbetto/pybind11/
/ext/orbetto/ripyl/
/ext/orbetto/buffer/
*.zip
*.csv