__pycache__/
.patch_store/
build/
eggs/
*.egg*
dist/
/ext/orbetto/subprojects/perfetto
/ext/orbetto/subprojects/orbuculum
/ext/orbetto/subprojects/libdwarf*
/ext/orbetto/subprojects/packagecache
/ext/orbetto/subprojects/CRoaring
/ext/orbetto/*.perf
/ext/orbetto/*.gz
/ext/orbetto/*.debug
/ext/orbetto/*.zip
/ext/orbetto/*.roar
/ext/orbetto/trace.swo