name: Build and Test Orbetto

on: [pull_request]

jobs:
  linux:
    name: Build and Test Orbetto on Linux
    runs-on: ubuntu-latest
    steps:
      - run: sudo apt-get update
      - run: sudo apt-get install -y libusb-1.0-0-dev libzmq3-dev meson libsdl2-dev libdwarf-dev libdw-dev libelf-dev libcapstone-dev python3-pip ninja-build protobuf-compiler cmake
      - run: sudo pip3 install meson==1.2.0
      - uses: actions/checkout@v3
      - run: meson setup ./build
        working-directory: ext/orbetto
      - run: ninja -C ./build
        working-directory: ext/orbetto
      - run: meson install -C ./build --destdir ./install
        working-directory: ext/orbetto
      - uses: actions/upload-artifact@v4
        with:
          name: orbetto-linux
          path: ext/orbetto/build/install/**/*
          if-no-files-found: error

  osx:
    name: Build and Test Orbetto on macOS
    runs-on: macos-13
    steps:
      - run: brew install zmq sdl2 libelf protobuf meson ninja capstone dwarfutils cmake
      - uses: actions/checkout@v3
      - run: meson setup ./build
        working-directory: ext/orbetto
      - run: ninja -C ./build
        working-directory: ext/orbetto
      - run: meson install -C ./build --destdir ./install
        working-directory: ext/orbetto
      - uses: actions/upload-artifact@v4
        with:
          name: orbetto-osx
          path: ext/orbetto/build/install/**/*
          if-no-files-found: error


